<launch>
  <node name="grasped_reconstruction" pkg="grasped_reconstruction" type="grasped_reconstruction" output="screen">

  </node>
       <rosparam>
       <!-- rMin: 0 -->
       <!-- rMax: 360 -->
       <!-- gMin: 0 -->
       <!-- gMax: 100 -->
       <!-- bMin: 0 -->
       <!-- bMax: 100 -->
      </rosparam>
</launch>